.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.mainInfo {
  display: flex;
  gap: var(--spacing-md);

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.cover {
  width: 40%;
  max-width: 100px;
  object-fit: contain;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.review {
  overflow-wrap: break-word;
}

.addButton {
  position: fixed;
  bottom: calc(4.5rem + env(safe-area-inset-bottom));
  right: 1rem;
}

.addIcon {
  width: 48px;
  height: 48px;
}
