:root {
  /* Fonts */
  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: 'Merriweather', serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Animation */
  --transition-default: 0.3s ease;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --border-radius: 4px;

  /* Colors */
  --color-primary: #007aff;
  --color-secondary: #ff9500;
  --color-accent: #5856d6;

  --color-bg: #ffffff;
  --color-bg-alt: #f7f7f7;
  --color-bg-hover: #f1f1f1;

  --color-text: #1c1c1e;
  --color-text-alt: #8e8e93;
  --color-text-inverse: #ffffff;

  --color-border: #d1d1d6;
  --color-border-hover: #c7c7cc;

  /* Status Colors */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-error: #dc3545;
  --color-info: #17a2b8;

  --color-success-bg: #d4edda;
  --color-warning-bg: #fff3cd;
  --color-error-bg: #f8d7da;
  --color-info-bg: #d1ecf1;

  /* Shadows */
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 3px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 10px 20px rgba(0, 0, 0, 0.2);

  /* html tag styles */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh; /* old browsers */
  height: 100dvh; /* new browsers */
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-sans), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  transition:
    background-color var(--transition-default),
    color var(--transition-default);
}

[data-theme='dark']:root {
  /* Colors */
  --color-primary: #0a84ff;
  --color-secondary: #ff9f0a;
  --color-accent: #5e5ce6;

  --color-bg: #1c1c1e;
  --color-bg-alt: #2c2c2e;
  --color-bg-hover: #3a3a3c;

  --color-text: #f2f2f7;
  --color-text-alt: #a1a1a6;
  --color-text-inverse: #1c1c1e;

  --color-border: #3a3a3c;
  --color-border-hover: #48484a;

  /* Status Colors (Dark Theme) */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-error: #ff453a;
  --color-info: #5ac8fa;

  --color-success-bg: #204b2e;
  --color-warning-bg: #534400;
  --color-error-bg: #4b1b1e;
  --color-info-bg: #1b4b54;

  /* Shadows */
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.4);
  --shadow-md: 0px 3px 6px rgba(0, 0, 0, 0.4);
  --shadow-lg: 0px 10px 20px rgba(0, 0, 0, 0.6);
}
