.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.card {
  margin-bottom: var(--spacing-md);
  padding-top: 1.5rem;
}

.cover {
  width: 40%;
  max-width: 100px;
  object-fit: cover;
}

.mainInfo {
  display: flex;
  gap: var(--spacing-md);
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
