.pageWrapper {
  --header-height: 36px;
  --page-padding: 1rem;

  position: relative;
  padding: calc(
      var(--header-height) + var(--page-padding) + var(--page-padding)
    )
    var(--page-padding) var(--page-padding);
  max-height: 100%;
  overflow: auto;
  flex: 1;
}

.header {
  display: grid;
  position: fixed;
  padding: var(--page-padding) var(--page-padding) 0;
  width: 100%;
  top: 0;
  left: 0;
  grid-auto-columns: var(--header-height) 1fr var(--header-height);
  grid-auto-flow: column;
  background-color: hsl(var(--background));
}

.titleWrapper {
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}
