.nav {
  width: 100%;
  padding: 0.5rem 2rem calc(0.5rem + env(safe-area-inset-bottom));
  background: #216fdb; // TODO
  margin-bottom: calc(-1 * env(safe-area-inset-bottom));
}

.ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  flex: 1;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
  justify-content: center;

  svg {
    --svg-size: 2rem;
    height: var(--svg-size);
    width: var(--svg-size);
    transition: fill var(--transition-default);
  }
}

.activeLink {
  svg {
    fill: hsl(var(--foreground));
  }
}
