.nav {
  position: fixed;
  bottom: calc(-1 * env(safe-area-inset-bottom));
  width: 100%;
  height: var(--nav-height);
  padding: 0.5rem 2rem;
  background: #216fdb;
}

.ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  flex: 1;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
  justify-content: center;
  padding-bottom: 0.5rem;

  svg {
    --svg-size: 2rem;
    height: var(--svg-size);
    width: var(--svg-size);
    transition: fill var(--transition-default);
  }
}

.activeLink {
  svg {
    fill: hsl(var(--foreground));
  }
}
