.nav {
  margin: auto;
  width: 100%;
  max-width: 50%;
  padding: 0.5rem 2rem;
}

.ul {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  flex: 1;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
  justify-content: center;
  padding-bottom: 0.5rem;

  svg {
    --svg-size: 2rem;
    height: var(--svg-size);
    width: var(--svg-size);
    transition: fill 0.3s;
  }
}

.activeLink {
  svg {
    fill: var(--color-text);
  }
}

@media (max-width: 768px) {
  .nav {
    max-width: 100%;
  }
}
